body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    
   
  
  
  }


.board{
    background-color: rgb(26, 26, 26);
    width: 80vmin;
    height: 80vmin;
    
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30 , 1fr);
}
.board1{
  background-color: rgb(131, 131, 131);
  width: 80vmin;
  height: 80vmin;
  
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30 , 1fr);
}

.snake{
    /* background:#ff002b;
    box-shadow: -10px 10px 90px #f70b46,
                   0 0 12px #f32256     ; */
    background-color: white;     
    border: white solid 1px;      
   

    border-radius: 10px;
                

}
.food{
    /* background:#00f214;
    box-shadow: -10px 10px 90px #11fd09 ,
                   0 0 12px #1af113     ; */
    background-color: white;            
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}


/*the gam over part */
.gameOver{
    
    
    background-color:  rgb(26, 26, 26);
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .theText{
    color: white;
    
                   ;
    font-size: 1.8em;
    
  }
  .restart{
    background-color:  rgb(26, 26, 26);
    border: solid white 1px;
    color: white;
    border-radius: 10px;
    margin-top: 1em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: 0.5s;
  }
  .restart:hover{
    background-color: rgb(218, 218, 218);
    color: black;
  }
  .score{
    color: white;
   
    font-size: 1.4em;
  
  }
  /* ---------------------------------*/


.gameXP{
    color: white;
 
}
.theScore{
    color: white;
    
    background-color: white;
    margin-bottom: 1100%;
    
    
}

.title{

    color: white;
    font-size: 1.1em;
    
}
.doubleFood{
  background-color: white;
  box-shadow:  0 0 10px rgb(221, 221, 221),
  0 0 20px rgb(199, 199, 199),
  0 0 80px rgb(182, 182, 182)
                 ;      
  border: none;
  border-radius: 10px;
}
/*  buttons*/
.buttons{
 
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
    
}
.up{
  margin-bottom:0em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.7em;
  width:3em;
  background-color: white;
  border: none;
  color: black;
  transition: 0.3s;
  width: 4em;

}

.up:hover{
  box-shadow: -10px 10px 90px #ea00f2 ,
                 0 0 12px #ea00f2    ;
}
.down:hover{
  box-shadow: -10px 10px 90px #ea00f2 ,
                 0 0 12px #ea00f2    ;
}
/*         */
.down2{
  margin-bottom: 0em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  width:3em;
  background-color: white;
  border: none;
  color: black;
  transition: 0.3s;
}
.down2:hover{
  box-shadow: -10px 10px 90px #ea00f2 ,
  0 0 12px #ea00f2    ;
}

.buttons2{
  display: flex;
  flex-direction: row;

}



.FUCK{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ttext{
 color: white;
 font-size: 1em;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin-bottom: 0.5em;
 margin-left: 2em;
 margin-right: 2em;

}
.go{
  background-color: rgb(12, 12, 12);;
  border: solid white 1px;
  color: white;
  border-radius: 10px;
  margin-top: 1em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  transition: 0.5s;

}
.go:hover{
  background-color: rgb(214, 214, 214);
  color: black;
}

span{
  font-size: 1.2em;
  color: crimson;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
